<h2>New post!</h2>
<ul>
<% page.posts.each(function(post){ %>
    <li>
        <h3>
            <a href="<%- url_for(post.path) %>">
            <%= post.title %>
            </a>
            </h3>
            <div class='text-muted'>
                <%= date(post.date, config.date_format) %> 
            </div>
            
            <% if(post.excerpt) { %>
                <p>
                    <%- post.excerpt %>
                </p>
            <% } %>
     </li>
   <% }) %>
 </ul>

<h2>New on Medium</h2>
<ul id="medium"></ul>

