<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- Use <%= page.title %> for dynamic title -->
        <title><%= config.title %></title>

        <!-- Shoelace (via cdn) -->
        <link rel="stylesheet" href="<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/shoelace-css/1.0.0-beta10/shoelace.css" crossorigin="anonymous">

    </head>
    <body>
        <div class='container'>
        <%- body %>
        </div>
    </body>
</html>